/*Ajustes generales*/
* {
    font-family: 'Alan Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/*Seccion de inicio*/
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 5%;
    background-color: #8E1616;
}
.menu_desplegable > ul{
    list-style: none;   
    display: flex;
    gap: 20px;
}
.menu_desplegable > ul > li {
    flex: 1 1 150px;
    text-align: center;
}
.menu_desplegable > ul > li > a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    color: #F8EEDF;
    font-weight: 600;
    font-weight: bold;
    transition: all 0.3s ease;
}
.menu_desplegable > ul > li > a:hover {
    background-color: rgb(255, 255, 255);
    color: #151515;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
@media (max-width: 1024px) {
    .menu_desplegable > ul {
        flex-direction: column;
        gap: 10px;
    }
    .menu_desplegable > ul > li {
        flex: 1 1 auto;
    }
}
@media (max-width: 768px) {
    .inicio {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .menu_desplegable > ul {
        justify-content: center;
    }
}

/*Titulo principal*/
.titulo {
    background-color: #000000;
    color: #8E1616;
    font-size: clamp(10rem, 5vw, 3vw);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    text-align: center;
    padding: 5% 0;
}

/*Seccion base (fondo de la pagina)*/
.base {
    background-color: #000000;
}

/*Seccion general*/
/*Division a 2 columnas*/
/*Seccion comandos de git*/
.general {
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
/*Primera columna*/
.general_uno {
    background-color: #8E1616;
    align-items: center;
    padding: 5%;
}
.general_uno > h2 {
    font-size: 1.5rem;
    color: #F8EEDF;
}
/*Segunda columna*/
.general_dos {
    padding: 4%;
    background-color: #151515;
    align-items: center;
}
.general_dos > p {
    color: #F8EEDF;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 6px;
}
/*Seccion comandos de git*/
.comandos {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.comandos_title {
    background-color: #8E1616;
    padding: 5%;
}
.comandos_title > h3 {
    font-size: 1.5rem;
    color: #F8EEDF;
}
.comandos_body {
    background-color: #151515;
    padding: 5%;
}
.comandos_body > p {
    color: #F8EEDF;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 6px;
}
@media (max-width: 768px) {
    *{
        margin: 0;
    }
    .general {
        padding: 10%;
    }
    .general > h1 {
        font-size: clamp(5rem, 7vw, 10vw);
        padding-bottom: 2%;
    }
    .general > h2 {
        font-size: clamp(1.5rem, 5vw, 7vw);
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .general > p {
        font-size: clamp(1rem, 3vw, 5vw);
    }
    .general_uno {
        padding: 10%;
    }
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8E1616;
    color: #F8EEDF;
    padding: 5%;
}